{% block content %}  

Subjective:
- [Mention reasons for visit, chief complaints such as requests, symptoms etc] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)
- [Mention Duration/timing/location/quality/severity/context of complaint] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)
- [Mention List anything that worsens or alleviates the symptoms, including self-treatment attempts and their effectiveness] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)
- [Progression: Mention describe how the symptoms have changed or evolved over time] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)
- [Previous episodes: Mention detail any past occurrences of similar symptoms, including when they occurred, how they were managed, and the outcomes] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)
- [Mention Impact on daily activities: explain how the symptoms affect the patient's daily life, work, and activities.] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)
- [Associated symptoms: Mention any other symptoms (focal and systemic) that accompany the reasons for visit & chief complaints] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)

Past Medical History:
- [Mention Contributing factors including past medical and surgical history, investigations, treatments, relevant to the reasons for visit and chief complaints]
- [Mention Social history that may be relevant to the reasons for visit and chief complaints.] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)
- [Mention Family history that may be relevant to the reasons for visit and chief complaints.] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)
- [Mention Exposure history] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)
- [Mention Immunization history & status] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)
- [Other: Mention Any other relevant subjective information] (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)

Objective:
- [Vitals signs (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
- [Physical or mental state examination findings, including system specific examination(s) (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
- [Investigations with results] (you must only include completed investigations and the results of these investigations have been explicitly mentioned in the transcript, contextual notes or clinical note, otherwise you must leave investigations with results blank. All planned or ordered investigations must not be included under Objective; instead all planned or ordered investigations must be included under Plan.)

Assessment & Plan:
[1. Issue, problem or request 1 (issue, request, topic or condition name only)]
- [Assessment, likely diagnosis for Issue 1 (condition name only)]
- [Differential diagnosis for Issue 1 (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
- [Investigations planned for Issue 1 (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
- [Treatment planned for Issue 1 (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
- [Relevant referrals for Issue 1 (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]

[2. Issue, problem or request 2 (issue, request, topic or condition name only)]
- [Assessment, likely diagnosis for Issue 2 (condition name only)]
- [Differential diagnosis for Issue 2 (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
- [Investigations planned for Issue 2 (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
- [Treatment planned for Issue 2 (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
- [Relevant referrals for Issue 2 (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]

[3. Issue, problem or request 3, 4, 5 etc (issue, request, topic or condition name only)]
- [Assessment, likely diagnosis for Issue 3, 4, 5 etc (condition name only)]
- [Differential diagnosis for Issue 3, 4, 5 etc (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
- [Investigations planned for Issue 3, 4, 5 etc (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
- [Treatment planned for Issue 3, 4, 5 etc (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
- [Relevant referrals for Issue 3, 4, 5 etc (only include if explicitly mentioned in the transcript, contextual notes or clinical note, otherwise leave blank)]
(Never come up with your own assessment, plan, interventions, evaluation, and plan for continuing care - use only the transcript, contextual notes or clinical note as a reference for the information include in your note.)

(Never come up with your own patient details, assessment, plan, interventions, evaluation, and plan for continuing care - use only the transcript, contextual notes or clinical note as a reference for the information include in your note.)
{% endblock %}